<!DOCTYPE html>
<html ng-app="bosscloudView">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="pragma" content="no-cache">
<script type="text/javascript"
	src="resources/skeleton/js/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="resources/skeleton/css/amazeui.min.css" />
<!--[if gte IE 9]><!-->
<script src="resources/skeleton/js/angular.min-1.6.5.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="resources/skeleton/js/modernizr.js "></script>
<script src="resources/skeleton/js/amazeui.ie8polyfill.min.js"></script>
<script src="resources/skeleton/js/angular.min-1.2.32.js"></script>
<![endif]-->
<script type="text/javascript"
	src="resources/skeleton/js/amazeui.min.js"></script>
<style>
.container {
	width: 100%;
	height: auto;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: black;
}

th {
	background-color: #3F7CE7;
	color: #FFFFFF;
}

td {
	word-break: break-all;
	word-wrap: break-word;
}

.search:before {
	content: "\f002";
	margin-top: 30px;
	margin-left: 10px;
	color: blue;
}

.stop {
	color: red;
}

.running {
	color: green;
}

.normal {
	color: orange;
}
</style>
<!--[if lt IE 9]>
<style>
body{
	font-size:16px;
}
</style>
<![endif]-->
</head>
<body ng-controller="bosscloudViewController"
	style="background-color: #ECECFF;" class="js-modal-open">
	<!-- <div style="margin-left: 20px; margin-top: 10px;">
		<input type="text" id="zkAddress" /> <a href="javascript:"
			class="search" ng-click="changeZk();"></a>
	</div> -->

	<div class="am-tabs am-margin" data-am-tabs id="bosscloud_app"
		style="background-color: #FFFFFF; margin-bottom: 0px;">
		<ul class="am-nav am-nav-pills"
			style="background: #0E90D2; height: 50px;">
			<li class="am-dropdown" data-am-dropdown
				style="padding-left: 10px; padding-top: 10px;"><select
				class="am-dropdown-toggle" id="nodeList"
				style="margin-top: 5px; border: 0; background: transparent; color: #FFFFFF;">
					<option value="" selected style="color: black">App</option>
			</select></li>
			<li style="padding-left: 10px; padding-top: 10px;"
				ng-repeat="appName in appNameList"><a href="#"
				ng-click="getNodeList(appName)">{{ appName }}</a></li>
		</ul>
		<div class="am-tabs-bd">
			<div class="am-tab-panel am-active">
				<div ng-include="'app_info.html'" id="infoList"
					style="display: none;"></div>
				</div>
		</div>
	</div>

	<div class="am-modal am-modal-alert" tabindex="-1" id="my-modal">
		<div class="am-modal-dialog" style="border-radius: 18px;">
			<div class="am-modal-hd"
				style="background-color: #FF5151; color: #FFFFFF; border-top-left-radius: 16px; border-top-right-radius: 16px;">警告</div>
			<div class="am-modal-bd"
				style="background-color: #FFFFFF; min-height: 100px; padding-top: 35px; font-size: 105%;">{{alertInfo}}</div>
			<div class="am-modal-footer">
				<span class="am-modal-btn">确定</span>
			</div>
		</div>
	</div>
	<script src="resources/biz/controller/bossCloudAppViewController.js"></script>
</body>
</html>