<html ng-app="zkManage">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--[if lt IE 9]>
<script src="resources/skeleton/js/modernizr.js "></script>
<script src="resources/skeleton/js/amazeui.ie8polyfill.min.js"></script>
<script src="resources/skeleton/js/angular.min-1.2.32.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="resources/skeleton/js/angular.min-1.6.5.js"></script>
<!--<![endif]-->
<script type="text/javascript"
	src="resources/skeleton/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
	src="resources/skeleton/js/amazeui.min.js"></script>
	<script type="text/javascript"
	src="resources/skeleton/js/ng-csv.min.js"></script>
	<script type="text/javascript"
	src="resources/skeleton/js/angular-sanitize.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="resources/skeleton/css/amazeui.min.css" />
<link rel="stylesheet" type="text/css"
	href="resources/skeleton/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="resources/skeleton/zTree/css/zTreeStyle/zTreeStyle.css" />
<script type="text/javascript"
	src="resources/skeleton/zTree/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript"
	src="resources/skeleton/zTree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript"
	src="resources/skeleton/zTree/js/jquery.ztree.exhide.min.js"></script>
<script type="text/javascript"
	src="resources/skeleton/zTree/js/jquery.ztree.exedit.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="resources/skeleton/css/bootstrap.min.css" />
<script type="text/javascript"
	src="resources/skeleton/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
	src="resources/skeleton/plugins/ngtable/js/ng-table.min.js"></script>
<script type="text/javascript"
	src="resources/skeleton/plugins/layer/1.9.3/layer.js"></script>
<script src="resources/includeCss_3rd.js"></script>	
<script src="resources/biz/controller/catheList.js"></script>
<style>
div, body, html {
	margin: 0;
	padding: 0;
}

#left, #right, #middle {
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
}

#left {
	width: 200px;
	background: #FFFFFF;
}

#middle {
	width: 5px;
	background: #FFFFFF;
	left: 200px;
}

#middle:hover {
	cursor: w-resize;
}

#right {
	
	background: #FFFFFF;
	left: 205px;
	width: auto;
}

#pk {
	width: 100%;
	float: left;
}

#index {
	width: 50%;
	padding: 18px;
	float: left;
}

.title {
	font-weight: bold;
}

.headborder {
	border: 1px solid #ddd;
	border-right-width: 0.5px;
	padding-top: 8.4px;
	padding-bottom: 8.4px;
}

.list {
	width: 25%;
	float: left;
	padding: 8.4px;
	border: 1px solid #ddd;
	/*合并边框*/
	border-collapse: collapse;
}

#index .indexselect {
	height: 33px;
	width: 180px;
}

#index .indexvalue {
	height: 33px;
	width: 118px;
}
table, table tr th, table tr td {
	border: 1px solid #0094ff;
}
 tr td{
				width: 50px;
				height: 50px;
				text-align: center;
			}
</style>


</head>
<body ng-controller="zkManageController as dml">
	<div id="zk_app">
		<div id="left" class="am-panel am-panel-default">
			<div class="am-panel-hd">缓存列表</div>
			<div
				style="height: 1000px; width: 100%; position: absolute; overflow: scroll;">
				<p>
					<input type="text" ng-model="test" placeholder="请在这里Cachename">
				</p>
				<ul id="treeDemo" class="ztree" ng-model="selectNode" value="1"
					style="height: 100%; width: 100%; position: absolute; border: 0px; padding-top: 10px; margin: 0;">
					<li ng-repeat="x in cacheNames | filter:test | orderBy:x"
						ng-click="getCacheName(x)">{{ x }}</li>
				</ul>
			</div>
		</div>
		<div id="right" class="am-panel am-panel-default"
			ng-repeat="nodeInfo in Info"
			style="height: 1000px; width:120%;position: absolute;">
			<div class="am-panel-hd">{{nodeInfo.path}}</div>

			<div class="am-panel-bd" id="pk" style='display:none;'>

				<div class="am-input-group am-input-group-sm"
					style="float: left; width: 200px; height: 40px;">
					<span  class="am-input-group-label" style="background-color:#3276b1;"><font color="white">Cachename</font></span> <input
						type="text" style="float: left; width: 200px; height: 40px" class="am-form-field" ng-model="cacheName"
				" placeholder="请输入Cachename">
				</div>

				<div class="am-input-group am-input-group-sm"
					style="float: left; width: 200px; height: 40px">
					<span class="am-input-group-label" ng-repeat="x in cacheCommit" style="background-color:#3276b1;height: 40px;"><font color="white">{{x}}</font></span> <input
						type="text" style="float: left; width: 200px; height: 40px" class="am-form-field" ng-model="$parent.key" 
						placeholder="请输入该字段的值"> <span class="am-input-group-btn">
						<!--  <button class="am-btn am-btn-default" type="button"
							ng-click="queryPk(x);">
							<span class="am-icon-search"></span>
						</button>-->
					</span>
					<button class="btn btn-primary btn-sm" type="button"
							ng-click="queryPk(x);" style="background-color:#3276b1;float: left; width: 50px; height: 40px">提交
							  <span class="am-icon-search"></span>
						</button>
				</div>
			
			
			
			

			<div id="divMain" style="margin-top:50px">
				<!--  <table class="table table-bordered" style="table-layout: fixed; white-space: nowrap; ">-->
				
				<table ng-table="dml" id="dataTable"
			class="table table-condensed table-bordered table-striped am-table-hover" style="display:none;">
			<tr>
 				<th style="background: #3F7CE7;color:#FFF;">序号</th>				
				<th ng-repeat="(column,columnValue) in items[0]"  style="background: #3F7CE7;color:#FFF;">
					{{column}}
				</th>
			</tr>
			<tr ng-repeat="data in items">
				<th id="rowId" value="">{{$index+1}}</th>	
				<td ng-repeat="(column,columnValue) in data"  style="text-align: center">
					{{columnValue}}
				</td>
			</tr>
		</table>
			<!-- 	
				
				<table style=" width: 100%;">
					<tr bgcolor="#99CCFF">
						<th ng-repeat="(x,y) in items[0]" width="20px" title="{{ x }}"
							style="text-overflow: ellipsis; overflow: hidden;" nowrap><div class="content">{{
							x }}</div></th>
					</tr>
					<tr ng-repeat="item in items">
						<td ng-repeat="(x,y) in item" width="20px" title="{{ y }}"
							style="text-overflow: ellipsis; overflow: hidden;" nowrap><div class="content">{{
							y }}</div></td>
					</tr>
				</table> -->
			</div>
			<div id="pageAndexport" style="display:none;">
				<nav>
					<ul class="pagination">
						<li><a ng-click="Previous()"> <span>上一页</span>
						</a></li>
						<li ng-repeat="page in pageList"
							ng-class="{active: isActivePage(page)}"><a
							ng-click="selectPage(page)"` >{{ page }}</a></li>
						<li><a ng-click="Next()"> <span>下一页</span>
						<li><a ng-click="queryPk()"> <span>刷新</span>
						</a></li>
						
					</ul>
				</nav>
				<!-- <button class="btn btn-default" ng-csv="getArray"  csv-header="textPort()" filename="test.csv">
        导出</button> 
				<button class="btn btn-primary btn-sm" ng-click="textPort()">导出csv</button>-->
				<nav>
				</nav>
			</div>

		</div>
	</div>
</body>
</html>