<table class="am-table am-table-bordered am-table-striped am-table-hover">
	<thead>
		<tr>
			<th>Providers</th>
			<th>Consumers</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="service in serviceList">
			<td class="am-text-top">
				<ul ng-repeat="provide in service.provideList track by $index">
					<!-- ip,dbsource,type,status,ability -->
					<li>
						<div style="white-space: nowrap;margin-right: 30px;padding-right: 10px;">
							<span style=" float:left;margin-right: 5px;">
								<img ng-if="provide[1]=='1'" src="resources/biz/images/main.png">
								<img ng-if="provide[1]=='0'"src="resources/biz/images/disabled.gif">
							</span>
							<div style=" float:left;">{{provide[0]}}&nbsp;&nbsp;{{provide[3]}}&nbsp;&nbsp;{{provide[4]}}&nbsp;&nbsp;</div>
							<span ng-if="provide[2]=='0'">主</span>
							<span ng-if="provide[2]=='1'">备1</span>
							<span ng-if="provide[2]=='2'">备2</span>
						</div>
					</li>
				</ul>
			</td>
			<td class="am-text-top">
				<ul ng-repeat="consumer in service.consumerList track by $index">
					<li>{{consumer}}</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>